body{
    background-color:black;
    margin-top: 30px;
}
#box{   
    width: 1027px;
    border: 3px solid black;
    border-color: red;
    background-color: white;
    border-radius: 10px;
}
.borda{border-radius: 10px;}
.borda2{
    text-align: right;
    margin: 30px;
    width: 30px;
    height: 30px;}

.botoes{
    margin-left: 23.4%;
    text-align: center;
}
#home{
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 6%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    padding-top: 6px;
    color: black;
    text-align: center;
    }


#home:hover{
    width: 100px;
    height: 34px;
    margin-left: 6%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#tarefas{
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 2%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#tarefas:hover{
    width: 100px;
    height: 34px;
    margin-left: 2%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#tarefas:active{
   width: 100px;
    height: 34px;
    margin-left: 2%;
    margin-top: 13px;
    margin-bottom: 13px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#comissao{
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 2%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#comissao:hover{
    width: 100px;
    height: 34px;
    margin-left: 2%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#comissao:active{
    width: 100px;
    height: 34px;
    margin-left: 2%;
    margin-top: 13px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-top: 6px;
    color: black;
    text-align: center;
}
#txt{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding-top: 6px;
    color: black;
    size: 200px;
    text-align: center;
    }


#box2{
    margin-left: -1;
    margin-top: 60px;   
    width: 440px;
    height: 130px;
    border: 3px solid black;
    background-color: black;
    color:white;
    border-radius: 10px;
    font-size: 20px;
}
h1{
    margin-top: 17px;   
    font-size: 18px;
}

p{
    margin-left: 100px;
    text-align: left;
    vertical-align: left;
}
.tabela{
    vertical-align: top;
    width: 1023px;
    margin: 30px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}
.tabela2{
    text-align: center;
    vertical-align: top;
    width: 690px;
    border: 3px block solid;
    border-color: black;
    margin-top: 0;
}
.colunlateral{
    vertical-align: top;
    text-align: center;
    background-color: black;
    width: 260px;
    color:white;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
  
}
.imgcp{
    text-align: center;
    margin-top: 13px;
    margin-left: 4px;
    width: 250px;
    height: 250px;
}
tr{
    vertical-align: top;

}

a{
    color:red;
}
a:link{
    color: red;
    text-decoration:none;

}

.tabform{
    vertical-align: top;
    margin-left: 30px;
    margin-top: 0;
    width: 680px;
    color:black;
}

.divform{
    text-align: left;
    margin-left: -1;  
    width: 690px;
    border: 3px solid black;
    color:black;
    border-radius: 10px;
    font-size: 20px;


}
